<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>kaelspencer | {% block title %}{% endblock %}</title>

    <link href="{{ MEDIA_URL }}css/{% block cssid %}style{% endblock %}.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{ MEDIA_URL }}css/loading.css" rel="stylesheet" type="text/css" media="screen" />

    {# Some files use old jQuery. #}
    {% block jqueryinclude %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% endblock %}

    {% block commonhead %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/common.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/K.js"></script>
    {% endblock %}

    {% block extrahead %}{% endblock %}
</head>

<body>
    <div class="content-wrap">
        <header class="mainhead">
            <nav class="container_16">
                {% include 'navigation.html' %}

                <div id="logo">kaelspencer</div>
            </nav>
        </header>
        {% block columnwrap %}{% endblock %}
    </div>

    <footer class="mainfoot">{% block footer %}
        <div class="container_16">
            <span class="grid_3"><a id="footer-to-top" href="#top">Back to Top</a></span>
            <span class="grid_3 prefix_10">&copy; Kael Spencer, {% now "Y" %}</span>
        </div>
    {% endblock %}
        <div id="loading_indicator" class="loading_container" style="display: none;">
            <div class="loading_circle loading_stop"></div>
            <div class="loading_circle1 loading_stop"></div>
        </div>
    </footer>
</body>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34953507-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>
