{% extends "base.html" %}

{% block columnwrap %}
        <div class="container_16">
            <div class="grid_13 alpha">
                {% block content %}{% endblock %}
            </div>

            <div class="grid_3 omega">
                {% block rightnav_top %}{% endblock %}
                {% block rightnav_sites %}
                    <article class="recentlist">
                        <header>Me</header>
                        <ul class="alpha omega">
                            <li id="gitlist"><a href="https://github.com/kaelspencer">GitHub</a></li>
                            <li><a href="http://www.flickr.com/photos/kaelspencer/">flickr</a></li>
                            <li><a href="{% url www_url_about %}">About</a></li>
                        </ul>
                    </article>
                {% endblock %}
            </div>
        </div>
{% endblock %}

