{% extends "base_twocol.html" %}

{% block title %}home{% endblock %}

{% block content %}
                <article>
                    <header>New Site</header>
                    <p>This is where my new website will be. It is definitely a work-in-progress, so stay tuned. You can still find the old stuff here: <a href="http://kaelspencer.no-ip.org/">http://kaelspencer.no-ip.org/</a></p>
                    <footer>This article was written by some guy, and posted on 16 August 2011.</footer>
                </article>
{% endblock %}

