@import url(style.css);

/* Article sub layout - tablesque */
/* designed for an article size of grid_13: width 760px, padding 15px all */
.fortext {
    margin-top: 7px;
}

/* Custom styling for Paste Model
 * Insanely tightly coupled to the Model
 * The form has a class name called 'newpaste' */
.newpaste input, select, textarea {
    margin: 5px 0;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(240, 240, 240, 1);
    font-size: 1.07em;
}

.newpaste input#id_title, select#id_lexer, select#id_exposed {
    width: 100%;
}

.newpaste select#id_expiration {
    width: 125%;
}

.newpaste input#newpaste_submit {
    width: 117%;
}

.newpaste textarea#id_rawbody {
    width: 715px;
    height: 300px;
    font-family: Courier, 'Courier New', monospace;
    font-size: 0.857em;
}

.errorlist {
    color: red;
}

.newpaste input.button { 
    height: 30px;
    margin: 0;
    padding: 2px 3px; 
    color: #fff;
    background: #9CCF5F;
    
    border-width: 1px;
    border-style: solid;
    border-color: #B6DE8F #8DB836 #8DB836 #B6DE8F;
}

.viewpaste {
    font-size: 0.929em;
}

.recentpastelist header {
    margin: 0 -15px 0 -15px;
    padding: 0 5px 0 5px;
}

.recentpastelist ul {
    list-style: none;
    padding: 0px;
    margin: 0 -15px -15px -15px;
    font-size: 1em;
}

.recentpastelist a:link, 
.recentpastelist a:visited,
.recentpastelist a:hover,
.recentpastelist a:active {
    width: 100%;
    text-decoration: none;
    color: inherit;
    white-space: pre-wrap;
}

.recentpastelist li {
    padding: 0px 5px 2px 5px;
    border-top: 2px solid rgba(230, 230, 230, 1);
}

.recentpastelist li#current,
.recentpastelist li:hover {
    background: rgba(245, 245, 245, 1);
    cursor: pointer;
}
