@import url(style.css);

/* Article sub layout - tablesque */
/* designed for an article size of grid_13: width 760px, padding 15px all */
.fortext {
    margin-top: 7px;
}

/* Custom styling for Paste Model
 * Insanely tightly coupled to the Model
 * The form has a class name called 'newpaste' */
.newpaste input#id_title {
    width: 100%;
}

.newpaste select#id_lexer, select#id_expiration, select#id_exposed {
    width: 100%;
}

.newpaste input#newpaste_submit {
    width: 125%;
}

.newpaste textarea#id_body {
    width: 715px;
    height: 450px;
}

.errorlist {
    color: red;
}
