/*
    Base font size: 14px = 1em
    Desired size / 14px = #em
    Ex:
        21px / 14px = 1.5em
*/

@import url(luxiSans.css);
@import url(luxiMono.css);

body, button, input, select, textarea {
  font: 87.5%/1.5 LuxiSansRegular, 'Helvetica Neue';
  color: #666666;
}

pre, code {
  font: 87.5%/1.5 LuxiMonoRegular, 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  color: #666666;
}

/* Headings */

h1 {
  font-size: 1.786em;
}

h2 {
  font-size: 1.643em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.357em;
}

h5 {
  font-size: 1.214em;
}

h6 {
  font-size: 1.071em;
}

/* Spacing */

p {
    margin: 0 0 15px 0;
}
