/* Luxi Sans font */
@font-face {
    font-family: 'LuxiSansRegular';
    src: url('/media/fonts/LuxiSans/luxisr-webfont.eot');
    src: url('/media/fonts/LuxiSans/luxisr-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/LuxiSans/luxisr-webfont.woff') format('woff'),
         url('/media/fonts/LuxiSans/luxisr-webfont.ttf') format('truetype'),
         url('/media/fonts/LuxiSans/luxisr-webfont.svg#LuxiSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LuxiSansOblique';
    src: url('/media/fonts/LuxiSans/luxisri-webfont.eot');
    src: url('/media/fonts/LuxiSans/luxisri-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/LuxiSans/luxisri-webfont.woff') format('woff'),
         url('/media/fonts/LuxiSans/luxisri-webfont.ttf') format('truetype'),
         url('/media/fonts/LuxiSans/luxisri-webfont.svg#LuxiSansOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LuxiSansBold';
    src: url('/media/fonts/LuxiSans/luxisb-webfont.eot');
    src: url('/media/fonts/LuxiSans/luxisb-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/LuxiSans/luxisb-webfont.woff') format('woff'),
         url('/media/fonts/LuxiSans/luxisb-webfont.ttf') format('truetype'),
         url('/media/fonts/LuxiSans/luxisb-webfont.svg#LuxiSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LuxiSansBoldOblique';
    src: url('/media/fonts/LuxiSans/luxisbi-webfont.eot');
    src: url('/media/fonts/LuxiSans/luxisbi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/media/fonts/LuxiSans/luxisbi-webfont.woff') format('woff'),
         url('/media/fonts/LuxiSans/luxisbi-webfont.ttf') format('truetype'),
         url('/media/fonts/LuxiSans/luxisbi-webfont.svg#LuxiSansBoldOblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
