/*
    Base font size: 16px = 1em
    Desired size / 16px = #em
    Ex:
        21px / 16px = 1.313em
*/

@import url(luxiSans.css);
@import url(luxiMono.css);

body, button, input, select, textarea {
  font: 1em/1.7em LuxiSansRegular, 'Helvetica Neue';
  color: #666666;
}

pre, code {
  font: 0.875em/1.5em LuxiMonoRegular, 'DejaVu Sans Mono', Monaco, Consolas, monospace;
  color: #666666;
}

/* Headings */

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.375em;
}

h3 {
  font-size: 1.250em;
}

/* Not really used */
h4, h5, h6 {
  font-size: 1em;
}

/* Spacing */

p {
    margin: 0 0 15px 0;
}
