{% extends "base_twocol.html" %}

{% load paste_extras %}

{% block title %}paste{% endblock %}

{% block cssid %}paste{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autosize-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.chosen-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tabby.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/chosen.css" />

<script type="text/javascript">
    $(function() {
       $('#id_rawbody').autosize();
       $('#id_rawbody').tabby();
       $('.chzn-select').chosen();
    });
</script>
{% endblock %}

{% block content %}
<p>Shouldn't see me!</p>
{% endblock %}

{% block rightnav %}
    {% show_recent_list %}
{% endblock %}
