{% extends "base_twocol.html" %}

{% block title %}paste{% endblock %}

{% block cssid %}paste{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autosize-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.chosen-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tabby.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/chosen.css" />

<script type="text/javascript">
    $(function() {
       $('#id_rawbody').autosize();
       $('#id_rawbody').tabby();
       $('.chzn-select').chosen();
    });
</script>
{% endblock %}

{% block content %}
Shouldn't see me!
{% endblock %}

{% block rightnav %}
        <article class="recentpastelist">
            <header>Recent Pastes</header>
            <ul class="alpha omega">
                {% for paste in recentList %}
                    <li{% if current_path == paste.url %} id="current"{% endif %}>
                        <a href="{{ paste.url }}">{{ paste.title }}</a>
                        <div>
                            <span class="subtext">{{ paste.lexer }} | {{ paste.dt }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            
            <div class="clear"></div>
        </article>
{% endblock %}
