<article class="recentpastelist">
    <header>Recent Pastes</header>
    <ul class="alpha omega">
        {% for paste in recent_list %}
            <li{% if context.current_path == paste.url %} id="current"{% endif %}>
                <a href="{{ paste.url }}">{{ paste.title }}</a>
                <div>
                    <span class="subtext">{{ paste.lexer }} | {{ paste.dt }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
    
    <div class="clear"></div>
</article>
