{% extends "base_onecol.html" %}

{% block title %}blog{% endblock %}

{% block extrahead %}
    <link href="/media/css/archive-overview.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block content %}
            <article>
            {% for object in object_list %}
                <section class="article-summary{% if forloop.last %} last{% endif %}">
                    <header><a href="{{ object.get_absolute_url }}">{{ object.headline|safe }}</a></header>
                    {{ object.summary_html|safe|truncatewords_html:60 }}
                </section>
            {% endfor %}
            </article>

{% endblock %}

