@import url(table.css);

.industry {
    font-size: 0.75em;
    margin-left: auto;
    margin-right: auto;
}

.industry_all_decryptors {
    display: none;
    width: 100%;
}

table.industry_all_decryptors th,
table.industry_all_decryptors td {
    white-space: nowrap;
}

table.industry_all_decryptors th {
    text-align: center;
}

table.industry_all_decryptors tr > td:first-child + td,
table.industry_all_decryptors tr > td:first-child + td + td {
    text-align: center;
}

table.industry_all_decryptors tr > td:first-child + td + td + td,
table.industry_all_decryptors tr > td:first-child + td + td + td + td,
table.industry_all_decryptors tr > td:first-child + td + td + td + td + td,
table.industry_all_decryptors tr > td:first-child + td + td + td + td + td + td,
table.industry_all_decryptors tr > td:first-child + td + td + td + td + td + td + td {
    text-align: right;
}

table.industry_detail_decryptors {
    display: none;
}

table.industry_detail_decryptors th {
    text-align: center;
}

table.industry_detail_decryptors tr > td:first-child + td,
table.industry_detail_decryptors tr > td:first-child + td + td,
table.industry_detail_decryptors tr > td:first-child + td + td + td,
table.industry_detail_decryptors tr > td:first-child + td + td + td + td,
table.industry_detail_decryptors tr > td:first-child + td + td + td + td + td,
table.industry_detail_decryptors tr > td:first-child + td + td + td + td + td + td,
table.industry_detail_decryptors tr > td:first-child + td + td + td + td + td + td + td {
    text-align: right;
}

table.skinny {
    width: 70%;
}

table.wide {
    width: 90%;
}

.segment {
    margin-bottom: 30px;
}

.show-on-load {
    display: none;
}

.segment-header {
    padding: 15px;
    background: rgb(245, 245, 245);
    border: 2px solid rgb(230, 230, 230);
    border: 2px solid rgba(230, 230, 230, 0.9);
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.eve-status {
    display: none;
    font: 1em/1.7em LuxiMonoRegular, 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

/* Input area */
.fortext {
    margin-top: 10px;
}

.search input[type=submit] {
    margin: 5px 0;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    font-size: 1.07em;
    width: 117%;
}

.form_error {
    font-size: 0.8em;
    color: red;
}
