@import url(table.css);

table.orders tr > td:first-child + td,
table.orders tr > td:first-child + td + td,
table.orders tr > td:first-child + td + td + td {
    text-align: center;
}

/* Input area */
.fortext {
    margin-top: 10px;
}

.search input, select, textarea {
    margin: 5px 0;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(240, 240, 240, 1);
    font-size: 1.07em;
    width: 100%;
}

.search input[type=submit] {
    width: 117%;
}

.form_error {
    font-size: 0.8em;
    color: red;
}
