table.fill {
    width: 95%;
}

table.eve {
    border-top: 1px solid rgb(215, 215, 215);
    border-right: 1px solid rgb(215, 215, 215);
    margin-top: 10px;
}

table.eve th {
    font-weight: bold;
    font-size: 1.25em;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid rgb(215, 215, 215);
    border-left: 1px solid rgb(215, 215, 215);
    padding: 0.3em 1em;
}

table.eve th span.subheader {
    font-size: 0.75em;
    display: block;
}

table.eve tr:nth-of-type(even) {
    background-color: rgb(240, 240, 240);
}

table.eve td {
    border-bottom: 1px solid rgb(215, 215, 215);
    border-left: 1px solid rgb(215, 215, 215);
    padding: 0.3em 1em;
}

table.evehorizontal {
    border-top: 1px solid rgb(215, 215, 215);
    border-right: 1px solid rgb(215, 215, 215);
    margin-top: 10px;
}

table.evehorizontal td {
    border: 1px solid rgb(215, 215, 215);
    padding: 0.3em 1em;
}

table.evehorizontal tr > td:first-child {
    font-weight: bold;
    font-size: 1.25em;
    background-color: rgb(240, 240, 240);
    padding: 0.3em 1em;
}

table.table-container {
    margin-left: auto;
    margin-right: auto;
}

table.table-container td {
    padding: 0.3em 1em;
}
