{% extends "paste.html" %}

{% block content %}
            <article>
                <header>New Paste</header>
                <form class="newpaste" action="/p/" method="post">{% csrf_token %}
                    {{ form.rawbody }}
                    
                    <div class="grid_4 alpha">
                        <div class="grid_2 alpha fortext">Language/Lexer:</div>
                        <div class="grid_2 omega">{{ form.lexer }}</div>
                    </div>
                    
                    <div class="clear"></div>
                    
                    <div class="grid_4 alpha">
                        <div class="grid_2 alpha fortext">Expiration:</div>
                        <div class="grid_2 omega">{{ form.expiration }}</div>
                    </div>
                    
                    <div class="clear"></div>
                    
                    <div class="grid_4 alpha">
                        <div class="grid_2 alpha fortext">Exposure:</div>
                        <div class="grid_2 omega">{{ form.exposed }}</div>
                    </div>
                    
                    <div class="clear"></div>
                    
                    <div class="grid_12 alpha omega">
                        <div class="grid_2 alpha fortext">Title / Name:</div>
                        <div class="grid_4">{{ form.title }}</div>
                        <div class="grid_2 prefix_4 omega"><input type="submit" id="newpaste_submit" value="Paste" /></div>
                    </div>
                    
                    <div class="clear"></div>
                </form>
            </article>

            <article>
                <header>Data Dump</header>
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }}: {{ field }}
                    </div>
                {% endfor %}
            </article>
{% endblock %}
