{% extends "paste.html" %}
{% load honeypot %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autosize-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chosen.jquery.v0-12-1.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tabby.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/chosen.min.css" />

<script type="text/javascript">
    $(function() {
       $('#id_rawbody').autosize();
       $('#id_rawbody').tabby();
       $('.chzn-select').chosen();
    });
</script>
{% endblock %}

{% block content %}
            <article>
                <header>New Paste</header>
                <form class="newpaste" action="/p/" method="post">{% csrf_token %}

                    {{ form.rawbody }}
                    {{ form.non_field_errors }}

                    {% if form.lexer.errors or form.exposed.errors or form.expiration.errors %}
                    <div class="grid_12 alpha omega">
                        <div class="grid_2 alpha">&nbsp;</div>
                        <div class="grid_4 fortext">{{ form.lexer.errors }}</div>
                        <div class="grid_1 fortext">&nbsp;</div>
                        <div class="grid_1 fortext">{{ form.exposed.errors }}</div>
                        <div class="grid_2 fortext">&nbsp;</div>
                        <div class="grid_2 fortext omega">{{ form.expiration.errors }}</div>
                    </div>
                    {% endif %}

                    <div class="grid_12 alpha omega">
                        <div class="grid_2 alpha fortext">Language:</div>
                        <div class="grid_4 fortext">{{ form.lexer }}</div>
                        <div class="grid_1 fortext">Public:</div>
                        <div class="grid_1 fortext">{{ form.exposed }}</div>
                        <div class="grid_2 fortext">Expiration:</div>
                        <div class="grid_2 fortext omega">{{ form.expiration }}</div>
                    </div>

                    <div class="clear"></div>

                    {% if form.title.errors %}
                    <div class="grid_12 alpha omega">
                        <div class="grid_2 alpha fortext">&nbsp;</div>
                        <div class="grid_5">{{ form.title.errors }}</div>
                        <div class="grid_3 prefix_2 omega">&nbsp;</div>
                    </div>
                    {% endif %}

                    <div class="grid_12 alpha omega">
                        <div class="grid_2 alpha fortext">Title:</div>
                        <div class="grid_10 omega">{{ form.title }}</div>
                    </div>

                    <div class="grid_12 alpha omega">
                        <div class="grid_5 alpha g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE }}"></div>
                        <div class="grid_3 prefix_4 omega"><input type="submit" id="newpaste_submit" value="Paste" /></div>
                    </div>

                    {% render_honeypot_field "pastetype" %}

                    <div class="clear"></div>
                </form>
            </article>
{% endblock %}
