/* This is from JQuery UI */
.playfair .ui-corner-all { -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.playfair .ui-widget { font-family: Segoe UI, Arial, sans-serif; font-size: 1.1em; }
.playfair ul#icons {margin: 0; padding: 0;}
.playfair ul#icons li {margin: 2px; position: relative; padding: 2px; cursor: pointer; float: left;  list-style: none;}
.playfair .ui-state-default { background: #555555 url(/media/images/pages/playfair/ui-bg_glass_20_555555_1x400.png) 50% 50% repeat-x; }
.playfair .ui-state-key { background: #0078a3 url(/media/images/pages/playfair/ui-bg_glass_40_0078a3_1x400.png) 50% 50% repeat-x; }
.playfair .ui-state-cipher { background: #f58400 url(/media/images/pages/playfair/ui-bg_inset-soft_30_f58400_1x100.png) 50% 50% repeat-x; }
/* End JQuery UI */

.playfair .ui-playfair-container { width: 260px; margin: 30px auto; }
.playfair .ui-playfair-icon { width: 40px; height: 40px; background-image: url(/media/images/pages/playfair/playfair-letters.png);}
.playfair span.ui-playfair-icon {float: left; margin: 2px;}

.playfair .ui-playfair-icon-0 { background-position: 0 0; }
.playfair .ui-playfair-icon-1 { background-position: -40px 0; }
.playfair .ui-playfair-icon-2 { background-position: -80px 0; }
.playfair .ui-playfair-icon-3 { background-position: -120px 0; }
.playfair .ui-playfair-icon-4 { background-position: -160px 0; }
.playfair .ui-playfair-icon-5 { background-position: -200px 0; }
.playfair .ui-playfair-icon-6 { background-position: -240px 0; }
.playfair .ui-playfair-icon-7 { background-position: -280px 0; }
.playfair .ui-playfair-icon-8 { background-position: -320px 0; }
.playfair .ui-playfair-icon-8 { background-position: -320px 0; }
.playfair .ui-playfair-icon-9 { background-position: -360px 0; }
.playfair .ui-playfair-icon-10 { background-position: -400px 0; }
.playfair .ui-playfair-icon-11 { background-position: -440px 0; }
.playfair .ui-playfair-icon-12 { background-position: -480px 0; }
.playfair .ui-playfair-icon-13 { background-position: -520px 0; }
.playfair .ui-playfair-icon-14 { background-position: -560px 0; }
.playfair .ui-playfair-icon-15 { background-position: -600px 0; }
.playfair .ui-playfair-icon-16 { background-position: -640px 0; }
.playfair .ui-playfair-icon-17 { background-position: -680px 0; }
.playfair .ui-playfair-icon-18 { background-position: -720px 0; }
.playfair .ui-playfair-icon-19 { background-position: -760px 0; }
.playfair .ui-playfair-icon-20 { background-position: -800px 0; }
.playfair .ui-playfair-icon-21 { background-position: -840px 0; }
.playfair .ui-playfair-icon-22 { background-position: -880px 0; }
.playfair .ui-playfair-icon-23 { background-position: -920px 0; }
.playfair .ui-playfair-icon-24 { background-position: -960px 0; }

.playfair fieldset {
    border: 2px solid #e6e6e6;
    background: rgb(240, 240, 240);
    border-radius: 5px;
    margin-bottom: .5em;
    padding: 1em;
}

form.playfair {
    margin: 10px;
    padding: 15px 25px 25px 20px;
    border: 2px solid rgb(230, 230, 230);
    background: rgb(245, 245, 245);
    border-radius: 5px;
}

.playfair form p {
    border-bottom: 1px solid #E6E6E6;
    padding: 12px 0 5px 0;
    margin: 0;
}

.playfair input {
    margin: 5px 0;
    padding: 5px;
    color: #6A6969;
    border-width: 1px;
    border-style: solid;
    border-color: #d4d4d4 #ebebeb #ebebeb #d4d4d4;  
    font: 11px 'Lucida Grande', Verdana, Helvetica, sans-serif;
}

.playfair .no-border { border: none; }
