{% extends "base_twocol.html" %}

{% block title %}about{% endblock %}

{% block content %}
            <article>
                <header>About Me</header>
                <p>I am a software developer at Microsoft. I work in Windows Live in Desktop Communications (Messenger, Mail, etc). I'm on a team that effectively does two things: maintaining an <a href="http://en.wikipedia.org/wiki/MSNP">MSNP</a> session and managing buddy presence. I work soley with C++. I've been at Microsoft since April 2011. I arrived at Microsoft immediately after graduating from Oregon Institute of Technology with a bachelor's in Software Engineering and another bachelor's in Applied Mathematics.</p>
                <p>I have previously worked at Qualcomm. I worked there for three summers (internships), and then throughout my last year of college as a contractor. At Qualcomm I was on a tool development team in a group that did network analysis and optimization. The majority of my work revolved around handling large datasets. There was a mixture of C++, C#, and Perl. As we were a tools team, I was able to work on many other projects as well.</p>
                <p>I hope to become more active in the open source community and with personal projects. If things go according to plan, this website will mainly be a place for me to post projects with a minor discussion on them.</p>
            </article>
            
            <article>
                <header>Contact</header>
                <p>The easiest way to contact me is to send an email to my name at kaelspencerstudios.com</p>
                <p>Alternatively, you can leave me a voicemail via Google Voice. Enter your number below, then you will be called and able to leave me a voicemail.</p>
                <object style="text-align: center;" type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85">
                    <param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" />
                    <param name="wmode" value="transparent" /><param name="FlashVars" value="id=0f3f82556256650dc8b028c481a05c778adee65e&style=0" />
                </object>
            </article>
{% endblock %}

