{% extends "base_onecol.html" %}

{% block title %}industry{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/industry/industry.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/industry/page.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chosen.jquery.v0-12-1.min.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/chosen.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/eve/industry.css" />
{% endblock %}

{% block content %}
<article>
    <header>Industry</header>

    <div>
        <table id="industry" class="orders" style="display: none;">
            <thead>
                <tr>
                    <th style="width: 40%; text-align: center;">Item</th>
                    <th style="width: 20%; text-align: center;">Decryptor</th>
                    <th style="width: 10%; text-align: center;">Time</th>
                    <th style="width: 15%; text-align: center;">IPH</th>
                    <th style="width: 15%; text-align: center;">IPH (24)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</article>
{% endblock %}
