{% extends "base_onecol.html" %}

{% block title %}industry{% endblock %}

{% block extrahead %}
<script type="text/javascript">
var itemid = {{ itemid|safe }};
</script>

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/industry/industry.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/industry/industry_detail_page.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chosen.jquery.v0-12-1.min.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/eve/industry.css" />

{% endblock %}

{% block content %}
<article>
    <header>Industry Detail: <span id="typename">{{ itemid|safe }}</span></header>

    <div class="clear"></div>
    <div id="status" class="eve-status"></div>

    <div class="segment show-on-load">
        <div class="segment-header">
            <a href="#"><img src="{{ MEDIA_URL }}images/minimize.png" /></a>&nbsp;Overview
        </div>
        <section>
            <table class="table-container">
                <tr><td>
                    <table id="bpo" class="evehorizontal industry">
                        <tbody>
                            <tr><td><span title="Category of the item.">Item Category</span></td><td>&nbsp;</td></tr>
                            <tr><td><span title="The name of the source T1 BPO.">T1 BPO</span></td><td>&nbsp;</td></tr>
                            <tr><td><span title="BPO copy time.">Copy Time</span></td><td>&nbsp;</td></tr>
                            <tr><td><span title="Daily average quantity sold in Jita.">Volume</span></td><td>&nbsp;</td></tr>
                        </tbody>
                    </table>
                </td><td>
                    <table id="datacores" class="evehorizontal industry">
                        <tbody>
                            <tr><td><span title="The type of decryptor.">Decryptor Type</span></td><td>&nbsp;</td></tr>
                            <tr><td><span title="The first datacore.">Datacore</span></td><td>&nbsp;</td></tr>
                            <tr><td><span title="The second datacore.">Datacore</span></td><td>&nbsp;</td></tr>
                        </tbody>
                    </table>
                </td></tr>
            </table>
        </section>
    </div>

    <div class="segment show-on-load">
        <div class="segment-header">
            <a href="#"><img src="{{ MEDIA_URL }}images/minimize.png" /></a>&nbsp;Total ISK per Day
        </div>
        <section>
            <table id="industry_mpd" class="eve industry industry_detail_decryptors">
                <thead>
                    <tr>
                        <th><span title="The decryptor used for this invention.">Decryptor</span></th>
                        <th><span title="Max copies per day.">CPD</span></th>
                        <th><span title="Expected BPCs per day.">BPC PD</span></th>
                        <th><span title="Expected total ISK per day gated on T1 BPO copy time.">TIPD</span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </div>

    <div class="segment show-on-load">
        <div class="segment-header">
            <a href="#"><img src="{{ MEDIA_URL }}images/minimize.png" /></a>&nbsp;All Decryptors
        </div>
        <section>
            <table id="industry_decryptors" class="eve industry industry_detail_decryptors">
                <thead>
                    <tr>
                        <th><span title="The decryptor used for this invention.">Decryptor</span></th>
                        <th><span title="Time in hours to build.">Time</span></th>
                        <th><span title="Number of runs with this decryptor.">Runs</span></th>
                        <th><span title="ISK per hour.">IPH</span></th>
                        <th><span title="ISK per hour when the build time is rounded up to the nearest day.">IPH 24</span></th>
                        <th><span title="Expected total ISK per day gated on T1 BPO copy time.">TIPD</span></th>
                        <th><span title="Expected total ISK per day gated on 10 inventions per day.">MTIPD</span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
    </div>

</article>
{% endblock %}
