{% extends "base_onecol.html" %}

{% block title %}industry{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/industry/industry.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/industry/industry_page.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chosen.jquery.v0-12-1.min.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/eve/industry.css" />
{% endblock %}

{% block content %}
<article>
    <header>Industry</header>

    <div class="clear"></div>
    <div id="status" style="display: none;"></div>

    <div>
        <table id="industry" class="eve industry industry_all_decryptors">
            <thead>
                <tr>
                    <th class="fill"><span title="Item">Item</span></th>
                    <th><span title="The decryptor used for this invention.">Decryptor</span></th>
                    <th><span title="Daily average quantity sold in Jita.">Vol</span></th>
                    <th><span title="Time in hours to build.">Tm</span></th>
                    <th><span title="ISK per hour.">IPH</span></th>
                    <th><span title="ISK per hour when the build time is rounded up to the nearest day.">IPH 24</span></th>
                    <th><span title="Expected ISK per day considering T1 BPO copy time.">IPD</span></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</article>
{% endblock %}
