{% extends "base_onecol.html" %}

{% block title %}shopper{% endblock %}

{% block cssid %}style{% endblock %}

{% block jqueryinclude %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/shopper/shopper.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/shopper/page.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/eve/shopper.css" />
{% endblock %}

{% block content %}
<article>
    <header id="sell_header">Sell Orders</header>
    <div>
        <table id="sell_orders" class="orders">
            <thead>
                <tr>
                    <th>Location</th>
                    <th style="width: 10%; text-align: center;">Jumps</th>
                    <th style="width: 10%; text-align: center;">Price</th>
                    <th style="width: 10%; text-align: center;">Station</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</article>
{% endblock %}
