{% extends "base_onecol.html" %}

{% block title %}shopper{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/shopper/validator.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/shopper/shopper.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/shopper/systems.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/eve/shopper/page.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/chosen.jquery.v0-12-1.min.js"></script>

<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/chosen.min.css" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/eve/shopper.css" />

<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
{% endblock %}

{% block content %}
<article>
    <header id="sell_header">Sell Orders</header>

    <form id="search" class="search">
        <div class="grid_15 alpha omega" id="form_errors" style="display: none;">
            <div id="item_error" class="grid_4 alpha form_error">&nbsp;</div>
            <div id="location_error" class="grid_4 form_error">&nbsp;</div>
            <div id="jump_error" class="grid_4 form_error">&nbsp;</div>
        </div>
        <div class="grid_15 alpha omega">
            <div class="grid_5 alpha" style="padding-top: 10px;">
                <select id="search_item" name="item" class="chosen">
                    {% include "itemoptions.html" %}
                </select>
            </div>
            <div class="grid_3"><input id="current_location" type="text" name="item" placeholder="Current system" /></div>
            <div class="grid_2"><input id="jump_limit" type="text" name="item" placeholder="Jump limit" /></div>
            <div class="grid_2"><input type="button" id="options_submit" value="Options" /></div>
            <div class="grid_3 omega"><input type="submit" id="search_submit" value="Search" /></div>
        </div>
        <div id="options_div" class="grid_15 alpha omega" style="display:none;">
            <div class="grid_3 alpha">Security Avoidance</div>
            <div class="grid_3 omega suffix_6">
                <select id="sec_avoidance" name="sec_avoidance" class="chosen">
                    <option value="none">None</option>
                    <option value="high">High</option>
                    <option value="highonly">Low/Null</option>
                </select>
            </div>
        </div>
    </form>

    <div class="clear"></div>
    <div id="status" style="display: none;"></div>

    <div>
        <table id="sell_orders" class="orders eve">
            <thead>
                <tr>
                    <th class="fill">Location</th>
                    <th>Price</th>
                    <th>Savings <span class="subheader">(per jump)</span></th>
                    <th>Quantity</th>
                    <th>Jumps</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</article>
{% endblock %}
